@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    transition: background-color 0.3s ease;
}

.fade-enter {
    opacity: 0;
    transform: translateY(10px);
}

.fade-enter-active {
    opacity: 1;
    transform: translateY(0);
    transition: all 300ms ease;
}